body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px; 
}
*{
    box-sizing: border-box;
    margin: 0;
}

/* header */
.main-header{
    background: #B5B5B5;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 2px solid #00BFFF;
    margin-bottom: 30px;
    padding-top: 35px;
}

.main-header .container-img{
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: transform .5s;
    width: 200px;
    height: 200px;
    
}

.main-header .container-img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.main-header .container-img img{
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/*.main-header .container-img img:hover{
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
}*/

.main-header .main-title{
    font-size: 55px;
    color: #fff;
    text-align: center;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

/* header menu */
.menu{
    background: #828282;
    width: 100%;
    float: left;
    padding: 10px;
}

.menu .container-item{
    padding: 0 50px;
    list-style: none;
}

.menu .container-item .item{
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

.menu .container-item .item a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.menu .container-item .item a:hover{
    color: #B0E2FF;
}

/* section's */
section{
    float: left;
    width: 100%;
    padding: 10px 13%;
}

section h3{
    font-size: 25px;
    background: #cfcfcf;
    padding: 5px;
    width: auto;
    border-radius: 5px;
}

section p, section address, section ul{
    float: left;
    width: 100%;
}

section > p{
    font-size: 14px;
    margin: 5px 0;
    padding-left: 20px;
}

section address{
    font-style: normal;
    padding-left: 20px;
}

section .ul-list{
    padding-left: 20px;
    list-style: none;
}

section .ul-list li{
    margin: 10px 0;
    float: left;
    width: 100%;
}

section .ul-list a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    float: left;
    margin-top: 10px;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    transition: transform .5s;
}

section .ul-list a:hover{
    background-color: #cfcfcf;
     -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    color: #000; 
}

section .ul-list h4{
    font-size: 18px;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

/* footer */
.main-footer{
    float: left;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/* form */
.main-form{
    display:  block;
    width: 500px;
    margin: 0 auto;
    
}

.main-form .title{
    font-size: 25px;
    margin: 10px 0 20px;
}

.main-form .container-text{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
    
}

.main-form .container-text label{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
}

.main-form .container-text input:not([type=radio]):not([type=file]){
    float: left;
    width: 100%;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
}

.main-form .container-text.radio label{
    float: left;
    width: auto;
    margin: 0 10px 0 0;
    font-size: 16px;
    clear: none;
    

}

.main-form .container-text.radio input{
    margin-right: 5px;
}

.main-form .container-text select{
    width: 250px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}

.main-form .container-text textarea{
    resize: none;
    width: 100%;
    padding: 5px;
    border: 2px solid #000;
    font: 400 13.3333px Arial;
    border-radius: 10px;
}

.main-form button{
    float: left;
    width: 150px;
    padding: 15px;
    border: 3px solid #000;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

.main-form .btn-reset{
    background: #fff;
    color: #000;
    margin-right: 40%;
    transition: transform .5s;
}

.main-form .btn-submit{
    background: #000;
    color: #fff;
    transition: transform .5s;
}

.main-form .btn-submit:hover {
    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    background-color: white;
    color: black;
}

.main-form .btn-reset:hover {
    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    background-color: black;
    color: white;
}